.post{
    max-width: 960px;
    margin: 10px auto;
    border: 1px solid black;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 15px;
}
.createat{
    color: gray;
}

.postId{
    width: 450px;
    margin: auto;
    text-align: center;
    padding: 35px;
    border: 1px solid black;
    border-radius: 15px;
}

.createdatId{
    font-size: 15px;
    margin-top: 35px;
    color: rgb(84, 84, 84);
    text-align: right;
}

.titleId{
    font-size: 35px;
    text-transform: uppercase;

}

.textId{
    line-height: 25px;
}